 .main-content {
    padding-top: 300px;
    background-color: #304354;
    display: grid;

}

#greeting {
    font-size: 30px;
    color: #B0C1C2;
}

#name {
    font-size: 50px;
    color: #36beca;
}

#itMe {
    color: #B0C1C2;
}

*{
    padding: 0;
    margin: 0;
}

a {
    color: #B0C1C2;
    text-decoration: none;
}

.nav-link {
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: aliceblue;
}

 html {
    scroll-behavior: smooth; 
}

.side-bar {
    width: 100%;    
    position:fixed;
    align-content: center;
    background-color: rgb(131, 160, 181);
}
nav li a {
    flex: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: all ease-out 250ms;
    margin: 10px
}

nav li a:hover {
    color:aquamarine;
}
section:last-of-type {
    height: 100vh;
}

h1 {
    color: rgb(64, 244, 247);
} */

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade-in-text {
    font-family: Arial;
    font-size: 60px;
    animation: fadeIn 5s;
  }

h2 {
    padding-bottom: 350px;
}

.active {
    color: #304354;
}








