
.main-content {
    padding-top: 300px;
    background-color: #304354;
    display: grid;

}

#greeting {
    font-size: 20px;
    color: #B0C1C2;
    margin-bottom: -80px;
}

#name {
    font-size: 30px;
    color: #36beca;
    margin-top: -80px;
}

#itMe {
    font-size: 20px;
    color: #B0C1C2;
    align-content: center;
    align-items: center;
    width: 100%;
    
}
.sections {
    text-align: center;
}
.containerWeather {
    text-align: left;
    display: inline-block;
    border: 10px solid #000;
    color:rgb(64, 244, 247)
}
#results {
    font-size: 20px;
}

.icon {
    max-width: 100px;
}

*{
    padding: 0;
    margin: 0;
}

a {
    color: #B0C1C2;
    text-decoration: none;
}

.nav-link {
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: aliceblue;
}

 html {
    scroll-behavior: smooth; 
}

.nav-bar {
    width: 100%;    
    position:fixed;
    align-content: center;
    background-color: rgb(131, 160, 181);
}
nav li a {
    flex: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: all ease-out 250ms;
    margin: 10px
}

nav li a:hover {
    color:aquamarine;
}
section:last-of-type {
    height: 100vh;
}

h1 {
    color: rgb(64, 244, 247);
} */

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade-in-text {
    font-family: Arial;
    font-size: 60px;
    animation: fadeIn 5s;
  }

h2 {
    padding-top: 150px;
}

.active {
    color: #304354;
}
.contact {
    max-width: 40px;
}

@media (min-width: 1025px) and (max-width: 1480px) {
    
    #greeting {
        font-size: 30px;
        margin-bottom: 0;
    }
    
    #name {
        font-size: 50px;
        margin-top: 0;
    }
    
    #itMe {
        font-size: 30px;
        
    }
    
    .icon {
        max-width: 400px;
    }
    #results {
        font-size: 50px;
    }
    .contact {
        max-width: 100px;
    }
}






