@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');



* {
    margin: 0;
    padding:0;
    font-family: "Concert One", cursive;
}
#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 40vw;
    background: url(img/clock2.png) no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: rgb(246, 198, 3);
    border-radius: 10px;
    transform-origin: bottom;
}
#second{
    background: rgb(1, 253, 1);
}
  
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}


.main-content {
    padding-top: 150px;
    background-color: #304354;

}

#greeting {
    font-size: 20px;
    color: #B0C1C2;
    margin-bottom: -80px;
}

#name {
    font-size: 30px;
    color: #36beca;
    margin-top: -80px;
}

#itMe {
    font-size: 20px;
    color: #B0C1C2;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.sections {
    text-align: center;
}
.containerWeather {
    text-align: left;
    display: inline-block;
    border: 10px solid #000;
    color:rgb(64, 244, 247)
}
#results {
    font-size: 20px;
}

.icon {
    max-width: 100px;
}



a {
    color: #B0C1C2;
    text-decoration: none;
}

.nav-link {
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: aliceblue;
}

 html {
    scroll-behavior: smooth; 
}

.nav-bar {
    width: 100%;    
    position:fixed;
    align-content: center;
    background-color: rgb(131, 160, 181);
}
nav li a {
    flex: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: all ease-out 250ms;
    margin: 10px
}

nav li a:hover {
    color:aquamarine;
}
section:last-of-type {
    height: 100vh;
}

h1 {
    color: rgb(64, 244, 247);
}

.fade-in-text {
    font-size: 150px;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade-in-text {
    font-size: 60px;
    animation: fadeIn 5s;
  }

h2 {
    padding-top: 150px;
}

.active {
    color: #304354;
}
.contactIcons {
    max-width: 40px;
}


@media only screen and (min-width: 768px) {

  } 


 @media (min-width: 900px) and (max-width: 1480px) {



    #greeting {
        font-size: 30px;
        margin-bottom: 0;
    }
    
    #name {
        font-size: 50px;
        margin-top: 0;
    }
    
    #itMe {
        font-size: 30px;
        margin-bottom: 100px;
    }
    #projects {
        padding-top: 300px;
    }
    .icon {
        max-width: 400px;
    }
    #results {
        font-size: 50px;
    }
    .contactIcons {
        max-width: 100px;
    }

}






